html, body {
    height: 100%;
}

body {
    max-width: 1500px;
}

.full {
    width: 100%;
    height: 100%;
    margin: auto;
}

main {
    height: 95%;
}

#result {
    text-align: center;
}

main div {
    margin-top: 10px;
}


section {
    margin: auto;
}

.window {
    
    padding: 1.5em;
    text-align: center;
    /* background-color: #00eeff62; */
}


.displayWindow {
    background-color: white;
    border: .5px solid darkgray;
}

label {
    margin-left: 10px;
}

header {
    text-align: center;
    color: white;
}

#itemList {
    text-align: left;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

li {
    padding: 0;
    font-size: large;
}

li:hover {
    border-radius: 3px;
    cursor: pointer;
    background-color: #007bffe3;
    color: white;

}

#outputSection {
    padding: 0;
}

button {
    margin-top: 10px;
}

