html, body {
    height: 100%;
}

body {
    max-width: 1500px;
}

.full {
    width: 100%;
    height: 100%;
}

main {
    height: 95%;
}

#result {
    text-align: center;
}

main div {
    margin-top: 10px;
}


section {
    margin: auto;
}

.window {
    border: 2px solid black;
    border-radius: 5px;
    padding: 1.5em;
}

label {
    margin-left: 10px;
}